@use "./base.scss";
@use "sass:map";
@use "./variables.scss" as *;

html {
  font-size: 15px;
  scrollbar-gutter: stable;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: 1.7rem;
}

h3 {
  font-size: 1.05rem;
  margin-top: 1.45rem;
}

h4, h5, h6 {
  font-size: 0.95rem;
  margin-top: 1.3rem;
}

tbody, li, p {
  line-height: 1.55rem;
}

button.desktop-explorer h2,
button.mobile-explorer h2 {
  font-weight: 500;
}

.folder-container div > a,
.folder-container div > button span {
  font-weight: 500;
}

footer {
  display: none !important;
}

@media all and ($mobile) {
  html {
    scrollbar-gutter: auto;
  }

  .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .table-container {
    max-width: 100%;
    overflow-x: auto;
  }

  pre {
    max-width: 100%;
    overflow-x: auto;
  }
}
